.headingBlock{
    text-align: center;
    padding-top: 50px;
    padding-bottom: .5rem;
}
.subheadingBlock {
    padding-bottom: 3rem;
    text-align: center;
}
.input:focus {
  border-color: orange; /* Set the desired border color */
  box-shadow: 0 0 0 0.2rem orange; /* Set the desired box shadow color */
}
.formBlock{
    background-color: beige;
    padding-left: 600px;
    padding-right: 600px;
    padding-top: 50px;
    padding-bottom: 30px;
}
input::placeholder {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  input:focus::placeholder {
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  outline: none;
  color: #aaa;
}
textarea::placeholder {
    font-size: 1rem;
    position: absolute;
    top: 15%;
    left: 15px;
    transform: translate(0, -50%);
    margin: 0;
    transition: all 0.3s ease-in-out;
}
textarea:focus::placeholder {
  font-size: 0.8rem;
  position: absolute;
  top: 12%;
  left: 13px;
  transform: translateY(-50%);
  outline: none;
  color: #aaa;
  border-color: #ffa500;
}
.buttonBlock {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.custom-button {
  font-size: 1.2rem;
  background-color: #ffa500;
  border: none;
}
.messagePopup {
  display: none; 
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  transform: translateY(-100%); 
  transition: transform 0.3s ease-out; 
  background-color: red;
  padding: 10px;
  text-align: center;
  color: white;
  z-index: 1000; 
}
.messagePopup.active {
  transform: translateY(0);
  display: block;
}
