.mainContainer{
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 15px 25px 15px 25px;
    background-color: #333333;
}
.mainContainer a {
    text-decoration: none;
    color: inherit;
  }

.contentContainer{
    max-width: 1170px;
    display: flex;
    margin: 0 auto;
    max-width: 1240px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    padding: 5px 30px 5px 30px;
    text-align: left;
}

.middleContainer{
    display: flex;
    flex-direction: column;
    padding: 5px 30px 5px 30px;
    text-align: left;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    padding: 5px 30px 20px 30px;
    text-align: left;
}

.boxHeader::after{
    display: block;
    content: "";
    background: #ff9fc6;
    width: 30px;
    height: 2px;
    margin-top: 23px;
}

@media  (max-width: 768px) {
    .leftContainer{
        display: flex;
        flex-direction: column;
        padding: 5px 30px 20px 30px;
        text-align: center;
    }
    
    .middleContainer{
        display: flex;
        flex-direction: column;
        padding: 5px 30px 20px 30px;
        text-align: center;
    }
    
    .rightContainer{
        display: flex;
        flex-direction: column;
        padding: 5px 30px 20px 30px;
        text-align: center;
    }
    .boxHeader{
            position: relative;
            padding: 20px;
    }
    .boxHeader::after{
        width: 30px;
        height: 2px;
        content: "";
        position: absolute;
        left: 50%;
        bottom: 20px; /* Adjust as necessary */
        transform: translateX(-50%);
    }
    
}

.mainContainer h2{
    margin-bottom: 0px;
    color: white;
}

.mainContainer p{
    padding: 35px 0px 35px 0px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}


.mainContainer p:hover{
    
    padding: 35px 0px 35px 0px;
    color: #ff9fc6;
    cursor: pointer;
    transition: 0.5s;
}
