*{
    margin: 0;
}
.mainContainer p, h1, h2{
    margin: 0;
}

.mainContainer{
    display: flex;
    position: relative;
    padding: 10px;
    width: 100%;
    min-height: 650px;
    background-image: url(../../media/cleaned-house.jpg);
    background-size: cover;
    background-position: center center;
}

.contentContainer{
    
    display: flex;
    width: 100%;
    padding: 40px;
    align-items: center;
}

.textContainer{
    flex-direction: column;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    text-shadow: black;
}
.headerContainer{
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 0px 35px 0px;
    z-index: 2;
}
.subheader{
    font-size: 20px;
    text-align: left;
    z-index: 2;
}

@media screen and (max-width: 922px) {
    .photoContainer{
        margin-bottom: 15px;
    }
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 45%;
    background: #c14692;
    z-index: 1;
}