.mainContainer{
    margin: 0;
}
.mainContainer p{
    margin: 0;
}
.contentContainer{
    display: flex;
    padding: 20px;
    max-width: 1200px;
}
.square{
    background-color: rgb(244, 244, 244);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
}
.header{
    padding: 20px;
}
.icon{
    padding: 15px;
}
.description{
    padding: 20px;
}