.mainContainer{
    margin: 0;
}
.mainContainer p{
    margin: 0;
}
.mainHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.contentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1200px;
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 450/450;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    margin: 20px;
}
.square:hover{
    background-color: #ff9fc6;
    color: white;
    transition: 0.4s;
}
.square svg{
    color: #ff9fc6;
}
.header{
    padding: 20px;
}
.icon{
    padding: 15px;
}
.description{
    padding: 20px;
}