.mainContainer{
    padding: 30px;
    width: 100%;
}
.contentContainer{
    margin: 0;
    width: 100%;
}
.squareContainer{
    padding: 30px;
    color: #6e6e6e;
}
.squareContainer h2 {
    padding-bottom: 30px;
}